.header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 5px;
}

.logo{
    text-decoration: underline;
}

.btn{
    background-color: forestgreen;
    padding: 10px 20px;
    border-radius: 5px;
}